<div class="container">
    <form [formGroup]="registrationForm" class="registration-form" (ngSubmit)="submitRegistration()">
        <div class="form-section">
            <label for="register-username">Username: </label>
            <input id="register-username" type="text" formControlName="registerUsername" />
        </div>

        <div class="form-section">
            <label for="register-password">Password: </label>
            <input id="register-password" type="password" formControlName="registerPassword" />
        </div>

        <div class="form-section">
            <label for="register-confirm-password">Confirm Password: </label>
            <input id="register-confirm-password" autocomplete="registerConfirmPassword" type="password"
                formControlName="registerConfirmPassword" />
        </div>

        @if (registrationForm.hasError('passwordMismatch')
        && (registrationForm.touched || registrationForm.dirty)) {
        <p class="validation-message">Passwords do not match</p>
        }

        <button class="register-button" type="submit" [disabled]="!registrationForm.valid">Register</button>
    </form>
</div>