<div class="container">
    <form [formGroup]="registrationForm">
        <label for="username">Username: </label>
        <input id="username" type="text" formControlName="username" />

        <label for="password">Password: </label>
        <input id="password" type="password" formControlName="password" />

        <label for="confirm-password">Confirm Password: </label>
        <input id="confirm-password" type="password" formControlName="confirmPassword" />

        @if (registrationForm.hasError('passwordMismatch') 
        && (registrationForm.touched || registrationForm.dirty)) {
            <p>Passwords do not match</p>
        }

        <button type="submit" [disabled]="!registrationForm.valid">Register</button>
    </form>
</div>