.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 5px;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.validation-message {
    color: red;
    margin: 0;
}

.register-button {
    margin-top: 20px;
}