.container {
    background-color: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-size: 22px;
    font-weight: 600;
    color: #111827;
}

.no-note-selected {
    align-self: center;
    justify-self: center;
}

.note-content {
    font-size: 14px;
    line-height: 1.6;
    resize: none;
    margin-top: 24px;
    color: #374151;
    width: 100%;
    flex: 1;
    padding: 4px;
}

.note-content::placeholder {
    color: #9ca3af;
}

.title, .title:active,
.note-content, .note-contet:active {
    border: none;
    outline: none;
}