.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 12px;
    color: #111827;
    margin-bottom:4px;
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 10px;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.login-button {
    margin-top: 10px;
}

#login-username, #login-password {
    height: 30px;
    padding: 0 12px;
    border-radius: 8px;
    border: #e5e7eb 1px solid;
}

#login-username:focus , #login-password:focus {
    outline: #3b82f6 1px solid;
}

#login-username:hover , #login-password:hover {
    border: #2d70db 1px solid;
}

a {
    font-size: 12px;
    text-decoration: none;
}

button {
    height: 30px;
    background-color: #3b82f6;
    border: none;
    color: white;
    border-radius: 8px;
}

button:hover {
    background-color: #2f67c3;
}