<div class="container">
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitLoginForm()">
        <div class="form-section">
            <label for="login-username">Username: </label>
            <input id="login-username" type="text" formControlName="loginUsername" />
        </div>

        <div class="form-section">
            <label for="login-password">Password: </label>
            <input id="login-password" type="password" formControlName="loginPassword" />
        </div>

        <a routerLink="/register">Register if you are a new user</a>
        <button class="login-button" type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
</div>