<div class="container">
    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitLoginForm()">
        <div class="form-section">
            <label for="username">Username: </label>
            <input id="username" type="text" formControlName="username" />
        </div>

        <div class="form-section">
            <label for="password">Password: </label>
            <input id="password" type="password" formControlName="password" />
        </div>

        <a routerLink="/register">Register if you are a new user</a>
        <button class="login-button" type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
</div>