.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #f3f4f6;
    height: 100vh;
    gap: 20px;
}

.category-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-category {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    color: #374151;
    font-weight: 600;
}

.categories p {
    padding-left: 10px;
    color: #9ca3af;
    font-size: 12px;
}

.category-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
    padding-left: 0px;
}

.category-item {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 12px;
}

.heading .category {
    height: 40px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 8px;
}

.category {
    background: none;
    border: none;
    text-align: left;
    font-weight: 600;
}

.container .category-item:hover,
.heading .category:hover {
    background-color: #e5e7eb;
    color: #111827;
}

.heading .category.active {
    background-color: #111827;
    color: white;
}

.heading .category {
    width: 100%;
    border-radius: 8px;
}

.container .category-item.active {
    background-color: #111827;
}

.container .category-item.active button {
    color: white;
}

.actions {
    display: flex;
    padding: 0;
    flex-shrink: 0;
    opacity: 0;
}

.category-item:hover .actions {
    opacity: 1;
}

.action-icon {
    background: none;
    border: none;
    margin: 0;
    cursor: pointer;
}

.action-icon mat-icon {
    display: flex;
    font-size: 14px;
    width: 14px;
    height: 14x;
    align-items: center;
    justify-content: center;
}

.action-icon mat-icon:hover {
    color: #3b82f6;
}

.delete mat-icon:hover {
    color: red;
}