<div class="container">
    <div class="heading">
        <button (click)="setSelectedCategoryId(null)" [class.active]="selectedCategoryId==null">All notes</button>
    </div>
    <div class="categories">
        <h4>Categories</h4>
        <ul class="category-list">
            @for (category of (categories$ | async); track category.id) {
            <li><button (click)="setSelectedCategoryId(category.id)" [class.active]="selectedCategoryId==category.id">
                {{category.name}}
            </button></li>
            }
        </ul>
    </div>
</div>