<div class="container">
    <div class="heading">
        <button class="category" (click)="setSelectedCategory(null)" [class.active]="selectedCategoryId==null">All notes</button>
    </div>
    <div class="categories">
        <div class="category-title">
            <p>CATEGORIES</p>
            <button class="add-category">+</button>
        </div>
        <ul class="category-list">
            @for (category of (categories$ | async); track category.id) {
            <li><button class="category" (click)="setSelectedCategory(category)" [class.active]="selectedCategoryId==category.id">
                {{category.name}}
            </button></li>
            }
        </ul>
    </div>
</div>