<div class="container">
    <div class="heading">
        <button class="category" (click)="setSelectedCategory(null)" [class.active]="selectedCategoryId==null">All
            notes</button>
    </div>
    <div class="categories">
        <div class="category-title">
            <p>CATEGORIES</p>
            <button class="add-category" (click)="addCategory()">+</button>
        </div>
        <ul class="category-list">
            @for (category of categories(); track category.id) {
            <li class="category-item" (click)="setSelectedCategory(category)"
            [class.active]="selectedCategoryId == category.id">
                <button class="category"
                    [class.active]="selectedCategoryId==category.id">
                    {{category.name}}
                </button>

                <div class="actions">
                    <button class="action-icon">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button class="action-icon delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </li>
            }
        </ul>
    </div>
</div>